<div class="ex-form-container">
  <div class="background-image"></div>
  <div class="ex-form">
    <form #f="ngForm" (ngSubmit)="add(f)">
      <div class="form-group">
        <label for="utilisateur">Utilisateur</label>
        <input type="text" class="form-control" id="utilisateur" name="utilisateur" [(ngModel)]="feedback.utilisateur">
      </div>
      <div class="form-group">
        <label for="typeFeedback">Type de Feedback:</label>
        <select class="form-control" id="typeFeedback" name="typeFeedback" [(ngModel)]="feedback.typeFeedback" required>
          <option *ngFor="let option of feedbackOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" [(ngModel)]="feedback.description" required></textarea>
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        <input type="text" class="form-control" id="date" name="date" [(ngModel)]="feedback.date" disabled>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="datasetAssocie" name="datasetAssocie" [(ngModel)]="feedback.datasetid" readonly required hidden>
      </div>
      <div class="form-group">
        <label for="statut">Statut:</label>
        <select class="form-control" id="statut" name="statut" [(ngModel)]="feedback.statut" required>
          <option *ngFor="let option of statusOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Add Feedback</button>
    </form>
  </div>
</div>
