<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <!-- Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <!-- Glossaires Nav -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/glossaires">
        <i class="bi bi-book"></i>
        <span>Glossaires</span>
      </a>
    </li><!-- End Glossaires Nav -->

    <!-- Feedbacks Nav -->
     <li class="nav-item">
      <a class="nav-link" routerLink="/feedbacks">
        <i class="bi bi-chat-right"></i>
        <span>Feedbacks</span>
      </a>
    </li><!-- End Feedbacks Nav -->

    <!-- ActionLog Nav -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/actionlog">
        <i class="bi bi-journal"></i>
        <span>Action Log</span>
      </a>
    </li><!-- End ActionLog Nav -->

    <!-- Datasets Nav -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/datasets">
        <i class="bi bi-archive"></i>
        <span>Datasets</span>
      </a>
    </li><!-- End Datasets Nav -->

    <!-- Glossaires Nav -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/diag">
        <i class="bi bi-book"></i>
        <span>Data flow</span>
      </a>
    </li><!-- End Glossaires Nav -->
  </ul>
</aside><!-- End Sidebar -->
