<!DOCTYPE html>
<html lang="en">
<body>
<main id="main" class="main">
  <div class="card">
  <div class="card-body">
  <h5 class="card-title">Table Des Champs</h5>
<button type="button" class="btn btn-link" (click)="add()">Ajouter un champ</button>
<button type="button" class="btn btn-link" (click)="add()">Modifier la table</button>
<table class="table table-bordered">
    <thead>
      <tr>
        <!-- <th scope="col">ID</th> -->
        <th scope="col">Nom</th>
        <th scope="col">Synonyme</th>
        <th scope="col">Type</th>
        <th scope="col">Label</th>
        <!-- <th scope="col">Update</th> -->
      </tr>
    </thead>
    <tbody>
        
          <tr *ngFor="let column of ListOfColumns" [routerLink]="'/columns/edit/' + column.id">
            <!-- <th scope="row">{{column.id}}</th> -->
            <td>{{column.nom}}</td>
            <td>{{column.synonyme}}</td>
            <td>{{column.type}}</td>
            <td>{{column.label}}</td>
            <!-- <td><button type="button" class="btn btn-warning" (click)="onEdit(column.id)">edit</button></td> -->
            
          </tr>
    </tbody>
  </table>
  </div>
  </div>
</main>
</body>
  